* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.list {
	background:url() no-repeat center blueviolet;
	height: 500px;
	width: 500px;
	position: relative;
	margin-left: 430px;
}

p {
	color:Blue;
	text-align: center;
	margin-bottom: 0;
}

li {
	width: auto;
	list-style: none;
}
ul {
	padding: 10px;
	border:2px solid black;
	margin-top:0 ;
	height: 100%;
}

a { 
	margin:auto;
	color: darkgray;
 }
a:link  {
	text-decoration: none;
	background-color: lightblue;
	display: block;
	border:1px solid black;
	width:100px;
	text-align: center;
	margin-bottom: 1px;
}

a:hover , a:active  {
	background-color: red;
	color:green;

}

a:visited {
	color : darkviolet;
}

.list1 {
	position: relative;
	top: 450px;
	right: ;
}

/*large devices*/
@media (min-width:1200px) {

}
/*medium devices*/
@media (min-width:992px) and (max-width:1199px){
	p {
		color: darkred;
	}

}



