p {
	color:Blue;
	text-align: center;
}
li {
	list-style: none;
}

a { 
	margin:auto;
	color: darkgray;
 }
a:link  {
	text-decoration: none;
	background-color: lightblue;
	display: block;
	border:1px solid black;
	width:300px;
	text-align: center;
	margin-bottom: 1px;
}

a:hover , a:active  {
	background-color: red;
	color:green;

}
